header{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header__container{
    max-width: 111rem;
}
.header__navbar_in{
    display: unset;
}
.header__navbar_out{
    display: none;
}
.header__list{
    flex-flow: row nowrap;
}
.header__item{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}
.header__item a{
    text-decoration: none;

    color: #a0a0a0;
}
.header__navbar_in .header__list .header__item:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    width: 15rem;
    height: 4rem;

    border: solid 0.2rem var(--very-dark-violet);
}
.header__navbar_in .header__list .header__item:nth-child(4) a{
    color: var(--very-dark-violet);
}

.header__open, .header__close{
    display: none;
}


.main__firstview{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60rem;

    background-color: var(--dark-violet);
}
.firstview__container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    flex-direction: row;

    width: 100%;
    max-width: 111rem;
    height: 39rem;
}
.firstview__line{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;

    width: 15rem;
    height: 0.2rem;

    background-color: var(--very-light-gray);
}
.firstview__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-items: start;

    margin-block-start: unset;
    margin-block-end: unset;
    width: 54rem;
    height: 32.2rem;
}
.firstview__title{
    padding: unset;

    font-family: var(--font-headings);
    font-size: 7.5rem;
    letter-spacing: unset;
    line-height: 6.8rem;
    text-align: left;
    font-weight: 400;

    color: white;
}
.firstview__text{
    margin-block-start: unset;
    padding: unset;

    text-align: left;
}
.firstview__button{
    margin-block-start: unset;
}
.firstview__image_container{
    position: absolute;
    top: 0;
    right: 0;

    width: 53.8rem;
    height: 64.6rem;
}
.firstview__image{
    height: 100%;

    background-image: url('../images/image-intro-desktop.jpg');
}
.firstview__pattern{
    top: 42rem;

    width: 20rem;
    height: 50.6rem;

    background-image: url('../images/bg-pattern-intro-left-desktop.svg');
}
.firstview__pattern2{
    bottom: unset;
    top: 0;

    width: 43.9rem;
    height: 51.2rem;

    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-position: right;
    z-index: 2;
}


.main__secondview{
    margin-block-start: 30rem;
}


.secondview__container{
    align-items: flex-start;

    margin-block-start: unset;
    margin-block-end: unset;
}
.secondview__line{
    left: 0;

    width: 15rem;
    height: 0.2rem;
}
.secondview__title{
    margin-block-start: 6rem;

    font-size: 7.2rem;
}
.secondview__items_container{
    justify-content: space-between;
    gap: 0;

}
.secondview__item{
    align-items: flex-start;

    padding: unset;
    max-width: 35rem;
}
.item__image{
    width: 8.6rem;
    height: 8.6rem;
}
.item__text{
    text-align: left;
}

.main__thirdview{
    margin-block-start: 15.8rem;
    margin-block-end: 15rem;
}
.thirdview__container{
    justify-content: space-between;
    flex-direction: row;

    height: 25rem;
    padding: 0 8.1rem;
}
.thirdview__title{
    width: 49rem;

    font-size: 5.6rem;
    line-height: 5.6rem;
    text-align: left;
}
.thirdview__pattern{
    width: 43.2rem;
    height: 100%;

    background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
}

footer{
    padding: unset;
    height: 39.3rem;
}
.footer__pattern{
    width: 53.1rem;
    height: 23rem;

    background-image: url('../images/bg-pattern-footer-desktop.svg');
}
.footer__container{
    width: 111rem;
}
.footer__header{
    flex-direction: row;
    justify-content: space-between;
}
.footer__body{
    justify-content: space-between;
    column-gap: unset;
    width: 100%;
}
.footer__list_container{
    align-items: start;
    width: 25%;
}
.footer__list{
    align-items: start;
    gap: 1rem;
}
.footer__item a{
    letter-spacing: 0.15rem;
}

