
@font-face {
    font-family: 'DM serif display';
    src: url('../fonts/static/DMSerifDisplay-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/static/Karla-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/static/Karla-Bold.ttf');
    font-weight: 700;
}


@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Karla';
        src: url('../fonts/Karla-VariableFont_wght123456.ttf') format('truetype supports variations'),
            url('../fonts/Karla-VariableFont_wght123456.ttf') format('truetype-variations');
        font-weight: 400 700;
    }
}


:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --font-headings: 'DM serif display', serif;
    --font-text: 'Karla', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-text);
    font-weight: 400;
}

header{}
.header__logo{}
.header__navbar{}
.header__list{}
.header__item{}
.header__button{}

main{}
.main__firstview{}
.firstview__container{}
.firstview__line{}
.firstview__content{}
.firstview__title{}
.firstview__text{}
.firstview__button{}
.firstview__image_container{}
.firstview__image{}
.main__secondview{}
.secondview__container{}
.secondview__line{}
.secondview__title{}
.secondview__items_container{}
.secondview__item{}
.item__image{}
.item__title{}
.item__text{}
.main__thirdview{}
.thirdview__title{}
.thirdview__button{}

footer{}
.footer__container{}
.footer__header{}
.footer__logo{}
.footer__social_container{}
.footer__social_link{}
.footer__body{}
.footer__list_container{}
.footer__title{}
.footer__list{}
.footer__item{}

.button{}
.snappy{}
.affordable{}
.people{}